{% extends "base.html" %}
{% block body_content %}

<div class="intro-header">
    <div class="container">
        <h1>Welcome to GitMaps!</h1>
        <p>Advanced tools for the GitHub-powered maps.</p>
    </div>
</div>

<div class="container">

    <div class="alert alert-error">
        <strong>Warning!</strong>
        This thing is still very experimental / proof of concept.
        Use at your own risk. Use on "real" files is not recommended as
        it's not guaranteed not to mess up with your files!
    </div>

    <h2>Motivation</h2>

    <p>
        GitHub recently introduced
        <a href="https://github.com/blog/1528-there-s-a-map-for-that">support for
        rendering maps</a> from <code>.geojson</code> files.
        While I liked that feature a lot, I feel that it's a bit limited
        (eg. missing editing support), so I wrote an application specifically
        tought for dealing with maps on GitHub.
    </p>

    <div>
        <a href="/map-editor/" class="btn btn-large btn-primary">
            Start editing your maps now!
        </a>
        or
        <a href="#" class="btn btn-large btn-success">
            View the gh-map documentation
        </a>
    </div>

    <h2>Features</h2>

    <ul>
        <li>Browse your repositories / files to find GeoJSON files</li>
        <li>View your GeoJSON files on a map</li>
        <li>Edit your GeoJSON files on a map</li>
    </ul>

    <h2>Planned features</h2>

    <ul>
        <li>Support for viewing complex multi-layer maps
            <ul>
                <li>Configuration files: something like <code>*.gh-map</code></li>
                <li>Map accessible as <code>.../user/repo/branch/path.gh-map</code> </li>
            </ul>
        </li>
    </ul>

    <h2>Technologies</h2>

    <ul>
        <li>Python</li>
        <li>Flask &mdash; powerful Python micro-framework</li>
        <li>Flask-RESTful &mdash; Flask extension to easily create APIs</li>
        <li>rauth &mdash; for handling GitHub OAuth from Python</li>
        <li>Leaflet &mdash; the map view/editing widget</li>
        <li>jQuery &mdash; for communication with the API</li>
    </ul>

    <hr>

    <p style="color:#888;font-size:80%;">
    &copy; 2013 Samuele Santi - Under Apache License Version 2.0<br>
    This application is <strong>not</strong> in any way affiliated with GitHub.
    </p>

</div>
{% endblock %}
