{% extends "map-editor/base.html" %}

{%block extra_head%}
<script type="text/javascript">
$(function(){
    // The GeoJSON layer URL
    var geojson_url = "{{ geojson_url }}";

    // The base layer
    // var tile_url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png' // OSM
    // var tile_url = 'https://dnv9my2eseobd.cloudfront.net/v3/github.map-xgq2svrz/{z}/{x}/{y}.png' // OSM by GitHub
    var tile_url = "http://a.tiles.mapbox.com/v3/redshadow.map-9pbekffc/{z}/{x}/{y}.png"; // MapBox

    {% if mode == "view" %}
    window.map = Application.initializeViewer(geojson_url, tile_url);
    {% elif mode == "edit" %}
    window.map = Application.initializeEditor(geojson_url, tile_url);
    {% elif mode == "edit-raw" %}
    $('#map').html('Loading...');
    $.ajax({
        method: 'GET',
        url: geojson_url,
        success: function(data) {
            $('#map')
                .html('<button class="btn btn-success" type="button">Save GeoJSON map</button>')
                .append($('<textarea>').css({
                    position:'absolute',
                    top:'36px',left:0,right:0,bottom:0,
                    width:'auto'
                }).val(JSON.stringify(data, true, 2)));
        }
    });
    {% endif %}

});
</script>
{%endblock%}

{% block page_content %}

<div class="container-fluid" style="margin-top: 5px;">

    <ul class="nav nav-tabs">
        {% for key, label in [('view', 'View'), ('edit', 'Edit'), ('edit-raw', 'Raw')] %}
        <li{% if mode == key %} class="active"{% endif %}>
            <a href="?mode={{ key }}">{{ label }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

    <div id="map"></div>
{%endblock%}

{%block footer%}{%endblock%}
